@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


$prymari-text-color: #54565C;
$prymari-color-akcent: #2196f3;
$prymari-bacground-color: #FAFBFE;
$prymari-color-white: #FAFBFE;


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

li, .list {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: $prymari-color-akcent;

    @media (min-width:1440px) {
        font-size: 36px;
    }

    @media (min-width:1920px) {
        font-size: 48px;
    }
}

h3 {
    font-size: 16px;
    letter-spacing: 0.149px;

    color: $prymari-text-color;

    @media (min-width:1440px) {
        font-size: 20px;
        letter-spacing: 0.28px;
    }

    @media (min-width:1920px) {
        font-size: 24px;
        letter-spacing: 0.373px;
    }
}

h2 {
    font-size: 18px;
    margin-bottom: 12px;

    @media (min-width:1440px) {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    @media (min-width:1920px) {
        font-size: 36px;
        margin-bottom: 20px;
    }
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.149px;

    color: $prymari-text-color;

    @media (min-width:1440px) {
        font-size: 14px;
        letter-spacing: 0.28px;
    }

    @media (min-width:1920px) {
        font-size: 18px;
    }
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    @media (min-width:1440px) {
        font-size: 16px;
        
    }

    @media (min-width:1920px) {
        font-size: 24px;
    }
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.conteiner {
    position: relative;
    display: block;
    margin: 0 auto;

    padding: 32px 20px 0;
    max-width: 648px;

    @media (min-width: 768px) {
        padding: 0 20px 52px;
        width: 648px;
    }

    @media (min-width: 1440px) {
        padding: 0 20px 80px;
        width: 902px;
    }

    @media screen and (min-width: 1920px) {
        width: 1302px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.openModal {
    overflow: hidden;
}