<!-- ADVANTAGE -->
<section class="advantage" id="adv">
    <div class="conteiner">
        <h2 class="advantage-title">Чому саме ми</h2>
        <ul class="advantage-list list">
            <li class="advantage-list-element element-one">
                <h3 class="advantage-list-title">Досвід роботи</h3>
                <p class="advantage-list-mobi">Більше 50 успішних об'єктів за сім років роботи на ринку</p>
                <p class="advantage-list-desc">Наша бришада за сім років роботи успішно здала понад 50 обєктів. Серед яких квартири, офіси та підїзди.</p>
            </li>
            <li class="advantage-list-element element-two" >
                <h3 class="advantage-list-title">Ціна - Якість</h3>
                <p class="advantage-list-mobi">Довсід та професіоналізм - запорука якості</p>
                <p class="advantage-list-desc">Здобутий досвід та професіоналізм - запорука якісного виконання ремонтрних робіт.</p>
            <li class="advantage-list-element element-three">
                <h3 class="advantage-list-title">Швидкість</h3>
                <p class="advantage-list-mobi"> Ми цінуємо Ваш час тому слідкуємо за термінами виконання робіт</p>
                <p class="advantage-list-desc"> Оскільки ми працюємо лише у св'ятошинському районі та прилеглих селах ми можемо швидко перекидати спеціалістів між обєктами, що позитивно впливає на якість та швидкість виконання робіт.</p>
            </li>
            <li class="advantage-list-element element-four">
                <h3 class="advantage-list-title">Надійність</h3>
                <p class="advantage-list-mobi">Довіра це добре, однак договір - краще</p>
                <p class="advantage-list-desc">За досить тривалий період роботи ми неодноразово ставали свідками, як красивий дизайн виявлявся не практичним. Ми проконсультуємо і допоможемо униктути більшості поблем.</p>
            </li>
        </ul>
    </div>
</section>