<header class="header">
    <div class="header-conteiner">
        <a class="header-logo" href="#" lang="en">
            Cheap<span class="header-logo-span" lang="en">Build</span>
        </a>
        <div class="header-navigation">
            <nav>
                <ul class="header-main list">
                    <li class="header-main-element"><a href="#adv">Переваги</a></li>
                    <li class="header-main-element"><a href="#">Роботи</a></li>
                    <li class="header-main-element"><a href="#">Фото</a></li>
                    <li class="header-main-element"><a href="#">Ціни</a></li>
                </ul>
            </nav>

            <ul class="header-contact list">
                <li class="header-contact-element"><a href="tel:+380502472634">+380 50 247 2634</a></li>
                <li class="header-contact-element"><a href="tel:+380502472634">+380 50 247 2634</a></li>
            </ul>
        </div>
        <button
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu">
            <svg class="menu-toggle-svg">
                <use href="./images/mobi-menu.svg#icon-menu"></use>
            </svg>
            
        </button>

    </div>
</header>