<!-- SERVICES -->
<section class="services">
    <div class="conteiner">
        <h2 class="services-title">Види робіт</h2>
        <ul class="services-list list">
            <li class="services-list-element">
                <div class="services-list-bloc">

                    <img src="./images/services001 .jpg" alt="">
                    <div class="services-list-bloc-title">
                        <h3>Ремонт квартир</h3>
                    </div>
                    <div class="services-list-bloc-texst">
                        <p>
                            Наша бригада проводить комплексни ремонт квартир за помірну ціну та в зазначені терміни. Ми працюємо як в новобудовах так і в жилих будинках.
                        </p>
                        <ul>
                            <li>Малярні роботи</li>
                            <li>Нанесення фактури</li>
                            <li>Фарбування та Лак</li>
                            <li>Поклейка шпалер</li>
                            <li>Укладка плитки</li>
                            <li>Ламінат / Ліноліум</li>
                            <li>Гіпсокартон</li>
                            <li>Сантехнічні роботи</li>
                            <li>Монтаж / Демонтаж</li>
                            <li>Дрібні роботи по електриці</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="services-list-element">
                <div class="services-list-bloc">
                    <img src="./images/services001 .jpg" alt="">
                    <div class="services-list-bloc-title">
                        <h3>Оздоблення мопів</h3>
                    </div>
                    <div class="services-list-bloc-texst">
                        <p>
                        Малярні роботи
                        Нанесення фактури
                        Фарбування та Лак
                        Поклейка шпалер
                        Укладка плитки
                        Ламінат / Ліноліум
                        Гіпсокартон
                        Сантехнічні роботи                                
                        Монтаж / Демонтаж
                        Дрібні роботи по електриці
                        
                        </p>
                    </div>
                </div>
            </li>
            <li class="services-list-element">
                <div class="services-list-bloc">
                    <img src="./images/services001 .jpg" alt="">
                    <div class="services-list-bloc-title">
                        <h3>Ремонт офісів</h3>
                    </div>
                    <div class="services-list-bloc-texst">
                        <p>
                        Малярні роботи
                        Нанесення фактури
                        Фарбування та Лак
                        Поклейка шпалер
                        Укладка плитки
                        Ламінат / Ліноліум
                        Гіпсокартон
                        Сантехнічні роботи
                        Монтаж / Демонтаж
                        Дрібні роботи по електриці
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>        
</section>